/*
dark background(hero and footer) -> #1F2937
HERO MAİN TEXT(this web site) -> 48px #F9FAF8 900
HERO SECONDARY, HEADER LİNK TEXT -> 18px #E5E7EB
HEADER LOGO TEXT -> 24px #F9FAF8 
Button color -> #3882F6
INFORMATİON HEADER TEXT->36px #1F2937 900
QUOTE SECTİON BACKGROUND COLOR-> #E5E7EB
QUOTE TEXT -> 36px light italic #1F2937
*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
html,body{
    height: 100%;
}
.container{
    background-color: red;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    background-color: #1F2937;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 10vh;
}
.header>ul{
    display: flex;
    gap: 16px;
}
.card{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;   
}
.card-zero{
    background-color: #fff;
}
.footer{
    height: 10vh;
    width: 100vw;
    color: #fff;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
